.woocommerce div.product .product_title { 
        font-size: 32px; 
}

.woocommerce div.product .product_title { 
    color: #FFA500; 
}

.woocommerce div.product .button { 
    background: #1E90FF; 
}